body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
}
@keyframes rotacao {
    0% {transform: rotate(0deg); background-color: aliceblue;}
    12.5% {transform: rotate(45deg); background-color: yellow;}
    25% {transform: rotate(90deg); background-color: aqua;}
    37.5% {transform: rotate(135deg); background-color: black;}
    50% {transform: rotate(180deg); background-color: brown;}
    62.5% {transform: rotate(225deg); background-color: blue;}
    75% {transform: rotate(270deg); background-color: red;}
    87.5% {transform: rotate(315deg); background-color: aquamarine;}
    100% {transform: rotate(360deg); background-color: peru;}
}
.quadrado{
    display: flex;
    width: 200px;
    height: 200px;
    justify-content: center;
    background-color: aliceblue;
    animation-name: rotacao;
    animation-duration: 15s;
}
.botoes{
    display: flex;
    align-self: flex-end;
    position: fixed;
}
.botoes a{
    text-decoration: none;
}